.pull-left {
    float: left;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10px;
}

#plot {
    clear: both;
}

table, td, th {
    border: 1px solid #000;
    border-collapse: collapse;
}